@keyframes disappear{
    0%{ 
        transform: scale(1);
    }

    100%{ 
        transform: scale(0);}    
}


  @keyframes ylmov {
    to { 
        border-radius: 50% 36% 50% 50% / 49% 50% 45% 45%;
        background-position: -2px -4px , 2px 2px , 1px 1px;
     }}
  
     @keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-100px);
                  transform: translateX(-100px);
        }
    }