body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }
  $color-primary: #9356DC;
  $color-secondary: #FF79DA;
  $color-tertiary: #99E2D0;
  $appPadding: 1rem;

  @mixin Radcolor($opacity){
    background-image: linear-gradient(0deg,rgba(147,86,220,$opacity),rgba(255,121,218,$opacity));
    
  }

  @mixin button($explorebtn) {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-color: rgb(104, 104, 104);
    @include Radcolor(0.9);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px gray;
    &:hover{
      background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.60)
    }
  }



    .container {
        max-width: 1280px;
        margin: auto;
        position: relative;
      }
  .header{
    padding: 1.5rem;
    box-shadow:0 0 0.5rem black;
    z-index: 1;
    display: flex;
    position: relative;
    &__logo {
        justify-content: center;
        margin: auto;

  }
}

.footer {
    background-color: #353535;
    padding: $appPadding;
    
    
    
   
    &__container {
      display: flex;
      flex-direction: column;
      padding: $appPadding;
    }
    
    &__Logo {
      color: white;
      font-family: "Shrikhand", "cursive";
      margin: 0;
      padding: 0px;
      font-size: 1.2rem;
      margin-bottom: $appPadding;
    }
  
    &__list {
      list-style: none;
      padding:0 ;
      margin-top: 10px;

    }
  
    &__listElt {
      margin: 0.5rem 0;
  
      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__link {
      color: white;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    &__icon {
      width: 1.2rem;
      margin-right: 0.5rem;
    }
  }