
.loader{
    position: fixed;
    background-color:  rgba(255, 255, 255, 0.5);
    z-index: 1000;
    height: 100vh;
    inset: 0;
    animation: disappear 0s;
    animation-fill-mode: both ;
    animation-delay: 3s;
    display:flex;
    align-items:center;
    justify-content:center;}

    .Container{
        background-color:$color-primary;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform-origin: center;
        animation: spiner 1.5s ease forwards infinite ;
        
        
    }
    .circle{
      
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;
        
       
    
    }
    .circle1{
        left: -60px;
        background-color: $color-secondary;
        

    }
    .circle2{
        left: 60px;
        top:-20px;
        background-color: $color-tertiary;
    }
    
    
    

.localisation{
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;

&__icon {
    margin-right: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

  &__text {
    font-weight: 700;
  }
}

.explore{
    padding: 2rem;
    text-align: center;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items:center;

&__subtitle{
    font-weight: 300;
    margin: 1.5rem 0;}
}

.explore__btn{
    @include button(explorebtn);   
    }

  
        

.tuto{
    padding: ( $appPadding + 1rem ) $appPadding;

&__title {
    margin-top:0;

}

&__steps {
 margin: 0;
 padding: 0;
 counter-reset: compteListe;
 display: flex;
 flex-wrap: wrap;
 gap:1rem;
  @media(max-width: 860px){
   flex-direction: column;
   gap:0;
}
}



&__step{
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem lightgray;
    border-radius: 1rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    flex-grow: 1;

    &:hover{
        cursor: pointer;
        background-color: rgba(107, 0, 157, 0.1); 
        transition: 0.5s;
        transform: translate(-5px);
        .tuto__icon{
            color: purple;
        }
        
    }
    

    &::before {
        counter-increment: compteListe 1;
        content: counter(compteListe)" ";
        color: #f3f3f3;
        background:$color-primary ;
        display: flex;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -0.75rem;}
    }
      
    
    

&__icon{
  margin-right: 1rem;
  color: #7e7e7e;  }



}
  



.restaurants {
    background-color: #f6f6f6;
    padding: ($appPadding + 1rem) $appPadding;}
    

    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        @media(min-width: 860px){
            grid-template-columns:repeat(2,1fr);
        }
    }
    
    .card {
        background-color: white;
        border-radius: 1rem;
        position: relative;
        text-decoration: none;
        color: inherit;
        display: block;
        position: relative;
        
        &:hover{
            transform: scale(1.02);
            -webkit-transform: scale(1.02);
            -ms-transform: scale(1.2);
            transition-duration: 1s;
            

        }
      
        &__img {
          height: 12rem;
          width: 100%;
          border: transparent solid 0px;
          border-radius: 1rem 1rem 0 0;
          box-shadow: none;
          object-fit: cover;
        }
      
        &__promo{
          background-color: $color-tertiary;
          color: darken($color-tertiary, 50%);
          padding: 0.5rem;
          border-radius: 0.125rem;
          position: absolute;
          top: 1rem;
          right: 0.75rem;
        }
        &__footer{
            padding-left: 1rem;
            display: flex;
        }
        &__content{
            flex:1
        }
        &__title{
            margin-bottom: 3px;
        }
        &__location{
            margin-top: 0;

        }
        &__btn{
            padding: 2rem 1rem 0.5rem 0;

        }
        &__heartbg{
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            @include Radcolor(1);
            position: absolute;
            opacity: 0;
            transition: all 300ms ease-in-out;
             
            &:hover{
                opacity: 1;
                transform: scale(1.1);
            }

            &__heart:hover{
                opacity: 0;
                transition: all 300ms ease-in-out;
                
            }

        }
    
    }
    
 